<div class="header">
  <div class="content">
    <p class="byline vagrounded">Thank you for signing up!</p>
  </div>
</div>

<div class="hero">
  <div class="page-content clearfix">
    <div class="mammoth"></div>
    <div class="share-wrap">
      <p class="title vagrounded">invite friends & earn free products.<br>now that's a win win!</p>
      <p class="subtitle vagrounded">share your unique Squeaky Pops link and earn up to a year of free healthy snacks for you and your family when your friends sign up.</p>
      <div class="copy-link vagrounded"><%= root_url %>?ref=<%= @user.referral_code %></div>
      <% twitter_message = "finally, a delicious snack for my kids that doesn't turn their hands neon orange! @squeakypops #BetterThanCheddarBunnies" %>
      <div class="social-links">
        <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=SqueakyPops" class="fb" target="_blank"></a>
        <div class="sep"></div>
        <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
      </div>
    </div>
  </div>
</div>

<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.reverse_each { |stop|
    if stop["count"] <= referrals_count and !found
      stop["selected"] = true
      found = stop
    else
      stop["selected"] = false
    end
  }
%>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
  <div class="page-content">
    <p class="callout vagrounded">Here's How It Works:</p>
    <ul class="products clearfix">
      <li class="title vagrounded"><p class="friends">Friends joined</p><!--<p class="rewards">Squeaky Pop's Product</p>--></li>
      <% stops.each do |stop| %>
        <li class="product vagrounded <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
          <div class="circle"><%= stop["count"] %></div>
          <div class="sep"></div>
          <p><%= stop["html"].html_safe %></p>
					
					<!--
          <div class="tooltip">
            <img src="<%= stop["image"] %>" height="254">
          </div>
					-->
        </li>
      <% end %>
    </ul>

    <div class="progress">
      <div class="mover">
        <div class="bar clearfix"></div>
      </div>
    </div>

    <%
      words = ''
      if referrals_count == 1
        words = 'friend has'
      else
        words = 'friends have'
      end
    %>

    <% if referrals_count == 0 %>
      <p class="place vagrounded"><span>No</span> friends have joined...Yet!</p>
    <% else %>
      <p class="place vagrounded"><span><%= referrals_count %></span> <%= words %> joined</p>
    <% end %>
    <p class="check vagrounded">Keep checking</p>

		<!--
    <p class="ship vagrounded">We ship to the U.S. (& Canada Soon)</p>
		-->
    <a class="policy vagrounded" href="/privacy-policy" target="_blank">Privacy Policy</a>
		
  </div>
</div>
